@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: rgb(18, 110, 209);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: white;
  font-size: 32px;
  padding: 5px 50px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 3px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  border: 2px solid black;
}

.box {
  width: 120px;
  height: 120px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 25px;
}

.box img {
  width: 75px;
}

.status {
  margin: 20px 0px;
  padding: 10px 40px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 20px;
  font-weight: 500;
  background-color: white;
  color: black;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: black;
  border-radius: 20px;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.3s ease-in-out;
}

button:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

button:hover {
  background-color: rgb(7, 201, 235);
  color: rgb(0, 0, 0);
  border: 0.5px solid rgb(1, 46, 54);
}
